<html>
    <body>
        {% if name %}
        <h1>Hello {{ name }} Welcome!</h1>
        {% else %}

        <h1>Hello No name</h1>

        {% endif %}
        <ul>
            {% for product in products %}
            <li>{{ product.title }}{{ product.collection__title }}</li>
            <li>{{ product.unit_price }}</li>
            {% endfor %}
        </ul>
        <ul>
            {% for customer in customers %}
            <li>{{ customer.email }}</li>
            {% endfor %}
        </ul>
        <ul>
            {% for collection in collections %}
            <li>{{ collection.title }}</li>
            {% endfor %}
        </ul>
        <ul>
            {% for product in Inventory_less_than_10 %}
            <li>{{ product.title }}</li>
            {% endfor %}
        </ul>
        <ul>
            {% for order in orders %}
            <li>{{ order.id }}</li>
            {% endfor %}
        </ul>


    </body>
</html>

